body{
    font-family:Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform:uppercase;
    font-weight: bold !important;
    text-align: center !important;
    color:#0f0fbd;
    margin:0.5em 0 0.7em 0;
}
h2 {
    font-size:26px;
    color:#0f0fbd;
    text-align: center;
}
h3 {
    font-size:22px;
    color:#0f0fbd!important;
    text-align: center;
}

a {
    text-decoration: none;
    color:#fff!important;
    font-size: 20px;
}
/*---------- NAVIGATION STYLE---------- */

#glavna-nav{
    margin-bottom: 0px;
}
#nav{
    background-color: #0f0fbd;
}
#logo a:hover,
#logo a:active{
    background-color: #fff;
    color:#0f0fbd !important;
}
#nav ul li a:hover,
#nav ul li a:active{
    background-color: #fff;
    color:#0f0fbd !important;
}
/*---------- MAIN PAGE STYLE---------- */


hr {
    display: block;
    border-color: #0f0fbd !important;
    border-width: 2px !important;
}
.btn {
    text-decoration: none;
    color:#fff!important;
    font-size: 16px !important;
    border-color: #0f0fbd!important;
    background-color: #0f0fbd!important;
}

.btn:hover{
    color:#0f0fbd!important;
    text-decoration: bold;
    font-size: 16px !important;
    background-color: #fff!important;

}

.single_page_p{
    padding: 20px 0 20px 0;
}

.img-event{
    max-width: 450px;
    padding: 20px;
}

.a_search{
    color: #0f0fbd!important;
}

.clearfix{
    padding: 20px;
}

.p-event{
    margin-top: 50px;
    padding: 20px;
}
.danger button{
    background-color: red!important;
}

.row{
    padding-bottom: 30px;
}
.page a{
    font-size: 20px;
    color: #0f0fbd!important;
}
/*---------- PAGINATION STYLE ---------- */

.pagination li a{
     background-color: #fff!important;
     border: 1px solid black;
     color:#0f0fbd!important;
 }
.pagination li a:hover,
.pagination li a:active{
    background-color:#4D4C4C!important;
    border: 1px solid #fff;
    color:#fff!important;
}

.active span{
    font-size: 20px;
    background-color: #0f0fbd!important;
    color:#fff;
}
.disabled span {
    font-size: 20px;
    background-color: #C3BFBE !important;
    color: #fff;
}

/*---------- FOOTER STYLE---------- */

footer{
    background-color: #0f0fbd;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    flex: 0 0 auto;
    padding: 45px 50px;
}

footer .footer-limiter {
    max-width: 880px;
    margin: 0 auto;
}

footer .footer-left p{
    color:  #8f9296;
    font-size: 16px;
    margin: 0;
}

/* Footer links */

footer p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

footer p.footer-links a{
     display:inline-block;
     line-height: 1.8;
     text-decoration: none;
     color:  inherit;
 }

footer p.footer-links a:hover,
footer p.footer-links a:hover{
    color:  red!important;
    background-color: whitesmoke!important;
}

footer .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

footer .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #0080ff;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}
